@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
/*@import url(banner-other.css);*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos{
    text-align: center;
    margin: 100px auto;
    color: #333;
}

#bienvenidos h2{

    margin: 40px auto;
}

#bienvenidos p{

    margin: 40px auto;
}


footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    color: #333;
}

footer p{
    margin: 20px auto;
    text-align: center;
}

footer div{
    margin: 20px auto; 
}

.copy{
    font-size: 20px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;

}

.sociales a{
    color: #333;
    text-decoration: none;
}

@media (min-width:768px){

    .contenedor{
        max-width: 800px;
    }

    #bienvenidos{
        margin: 100px auto;
    }

    #bienvenidos h2{
        margin: 100px auto 30px;
        font-size: 40px;
    }

    #bienvenidos p{
        margin: 60px auto 30px;
        font-size: 30px;
    }
    
    #bienvenidos p{    
        margin: 40px auto;
    }

    .sociales{
        width: auto;
    }

    footer .contenedor{
        justify-content: space-evenly;
    }

    
}

@media (min-width:1024px){

    .contenedor{
        width: 1000px;
        max-width: 1000px;
    }

    #bienvenidos h2{
        font-size: 50px;
    }

}
