#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#info h2{
margin-bottom: 20px;
}

.info-cle {
    margin: 20px;

}

.info-cle img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 0 15px #fff;
}

@media (min-width:768px){

    .info-cle{
        width: 40%;
    }

    #info{
        margin: 100px auto 20px;

        }

    #info h2{
        margin: 60px auto 40px;
        font-size: 40px;
        }

        #info h4{

            font-size: 25px;
         }
                
         #info p{
            margin: 40px auto 60px;
            font-size: 25px;
         }

}

@media (min-width:1024px){

    .info-cle{
        width: auto;
    }

}